<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moko.ps101m">

    <application
        android:name="com.moko.ps101m.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LaunchActivityTheme">
        <activity
            android:name="com.moko.ps101m.activity.GuideActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moko.ps101m.activity.PS101MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.PS101DeviceInfoActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.PS101PosBleFixActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.PS101PosGpsFixActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.setting.PS101DeviceModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.setting.PS101TimingModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.setting.PS101PeriodicModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.setting.PS101MotionModeActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.setting.PS101AuxiliaryOperationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.setting.PS101DownlinkForPosActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.setting.PS101ManDownDetectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.setting.PS101BleSettingsActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.setting.PS101AxisSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.device.PS101SystemInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.device.PS101LogDataActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.filter.PS101FilterMacAddressActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.filter.PS101FilterAdvNameActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.filter.PS101FilterRawDataSwitchActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.filter.PS101FilterIBeaconActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.filter.PS101FilterBXPIBeaconActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.filter.PS101FilterUIDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.filter.PS101FilterUrlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.filter.PS101FilterTLMActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.filter.PS101FilterBXPTagIdActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.filter.PS101FilterBXPButtonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.filter.PS101FilterOtherActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.device.PS101SelfTestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.PS101PosWifiFixActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.device.PS101ExportDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.ps101m.activity.device.PS101IndicatorSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name="com.moko.ps101m.activity.filter.PS101FilterMkPirActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.moko.ps101m.activity.setting.PS101StandbyModeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.moko.ps101m.activity.setting.PS101AlarmFunctionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.moko.ps101m.activity.setting.PS101AlertAlarmSettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.moko.ps101m.activity.setting.PS101AlarmSosSettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.moko.ps101m.activity.device.PS101OnOffSettingsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.setting.PS101NetworkSettingsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.setting.ThreeAxisDataReportActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.setting.NtpSeverSettingActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moko.ps101m.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.moko.ps101m.service.DfuService" />
    </application>
</manifest>
